---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Services from '../components/Services.astro';
import Testimonial from '../components/Testimonial.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main id="main" tabindex="-1">
    <Hero />
    <Marquee />
    <About />
    <Projects />
    <Services />
    <Testimonial />
    <Contact />
  </main>
  <Footer />
</Layout>
